@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    height: 100%;
    background-color: rgb(240, 248, 255, 0.5);
}

a {
    text-decoration: none;
}